Django<5.0
django-environ
django-extensions
django-debug-toolbar

# Management
django-grappelli
django-import-export
django-reversion
django-simple-history
django-admin-rangefilter
django-admin-autocomplete-filter

# Database
psycopg[binary]

# forms
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks
django-recaptcha

# static file management
whitenoise

# Testing
pytest-django
pytest-sugar
coverage
factory_boy
model-bakery
mixer
