Django<5.0
django-environ
django-extensions
django-debug-toolbar
django-import-export
django-reversion
django-simple-history
# Database
psycopg[binary]
# Testing
pytest-django
pytest-sugar
coverage
factory_boy
