<!-- templates/contracts/non_seamless_contracts.html -->
{% extends "dashboards/staff_portal.html" %}
{% load static i18n %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-center">
                <h5 class="text-center mt-4">Contract Details:&nbsp;{{ contract.site_address }}</h5>
            </div>
        </div>
        <hr>
        <div class="row row-cols-3">
            <div class="col mt-3">
                <p>
                    <b>Client: {{ contract.client }}</b>
                </p>
                <p>Business Name: {{ contract.business_name }}</p>
                {% if contract.account_number == None %}
                    <p>{% trans "" %}</p>
                {% else %}
                    <p>Account Number: {{ contract.account_number }}</p>
                {% endif %}
                <p>Company Reg Number: {{ contract.company_reg_number }}</p>
                <p>Supplier: {{ contract.supplier }}</p>
                <p>Utility Type: {{ contract.utility }}</p>
                {% if contract.vat == None %}
                    <p>{% trans "Vat Rate: 0" %}</p>
                {% else %}
                    <p>VAT Rate: {{ contract.vat }}</p>
                {% endif %}
                <p>Contract Start Date: {{ contract.contract_start_date }}</p>
                {% if contract.contract_end_date == None %}
                    <p>{% trans "No Contract End Date" %}</p>
                {% elif contract.is_ooc == "YES" %}
                    <p>{% trans "Out of Contract" %}</p>
                {% else %}
                    <p>Contract End Date: {{ contract.contract_end_date }}</p>
                    <p>Days Left On Contract: {{ contract.days_till }}</p>
                {% endif %}
            </div>
            <div class="col mt-3">
                <p>
                    {% if contract.contract_type == "NON_SEAMLESS" %}
                        <b>Contract Type: {% trans "Non Seamless" %}</b>
                    </p>
                {% endif %}
                {% if contract.days_till <= '1' %}
                    <p>
                        <b>{% trans "Contract has expired" %}</b>
                    </p>
                {% endif %}
                <p>
                    <b>Contract Status: {{ contract.contract_status | lower }}</b>
                </p>
                {% if contract.smart_meter == None %}
                    <p>{% trans "No Smart Meter" %}</p>
                {% else %}
                    <p>Smart Meter: {{ contract.smart_meter }}</p>
                {% endif %}
                <p>Meter Serial Number: {{ contract.meter_serial_number }}</p>
                <p>MPAN/MPR: {{ contract.mpan_mpr }}</p>
                <p>Top Line: {{ contract.top_line }}</p>
                <p>EAC: {{ contract.eac }}</p>
                <p>KVA: {{ contract.kva }}</p>
                <p>Day Consumption: {{ contract.day_consumption }}</p>
                <p>Night Consumption: {{ contract.night_consumption }}</p>
            </div>
            <div class="col mt-3">
                <p>Unit Rate 1: {{ contract.unit_rate_1 }}</p>
                <p>Unit Rate 2: {{ contract.unit_rate_2 }}</p>
                <p>Unit Rate 3: {{ contract.unit_rate_3 }}</p>
                <p>Feed In Tariff: {{ contract.feed_in_tariff }}</p>
                <p>Standing Charge: £{{ contract.standing_charge }}</p>
                <p>Standing Charge Frequency: {{ contract.sc_frequency }}</p>
                <p>Pence per Kilowatt: {{ contract.pence_per_kilowatt }}</p>
                <p>Day Kilowatt Hour Rate: {{ contract.day_kilowatt_hour_rate }}</p>
                <p>Night Rate: {{ contract.night_rate }}</p>
            </div>
        </div>
        <hr>
        <h4 class="text-center mb-3">Future Contract Details</h4>
        <div class="row row-cols-6">
            <p>Start Date: {{ contract.future_contract_start_date }}</p>
            <p>End Date: {{ contract.future_contract_end_date }}</p>
            <p>Unit Rate 1: {{ contract.future_unit_rate_1 }}</p>
            <p>Unit Rate 2: {{ contract.future_unit_rate_2 }}</p>
            <p>Unit Rate 3: {{ contract.future_unit_rate_3 }}</p>
            <p>Standing Charge: {{ contract.future_standing_charge }}</p>
        </div>
    </div>
    <div class="row mb-4 text-center">
        <a href="" target="_blank">
            <button class="btn btn-secondary btn-sm mt-3">Download PDF</button>
        </a>
    </div>
{% endblock content %}
